.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgray;
}

.navbar .navbarContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .navbarContainer .search {
  display: flex;
  width: 30%;
  align-items: center;
  padding: 3px;
  border: 0.5px solid lightgray;
}

.navbar .navbarContainer .search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.navbar .navbarContainer .search input::placeholder {
  font-size: 13px;
  padding-left: 5px;
}

.navbar .navbarContainer .items {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar .navbarContainer .items .item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.navbar .navbarContainer .items .item .icon {
  font-size: 18px;
  cursor: pointer;
}

.navbar .navbarContainer .items .item span {
  font-size: 12px;
  padding-left: 5px;
}

.navbar .navbarContainer .items .item .counter {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  top: -5px;
  right: -5px;
}

.navbar .navbarContainer .items .item .profileImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
