.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px; // Taille de police globale normale
    color: #333;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;

    .navbarContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .search {
            display: flex;
            width: 30%;
            align-items: center;
            padding: 3px;
            border: 0.5px solid lightgray;
            

            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 13px; // Taille de police pour le placeholder
                    padding-left: 5px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;
            margin-left: 20px;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 15px;

                .icon {
                    font-size: 18px; // Taille des icônes légèrement augmentée
                    cursor: pointer;
                }

                span {
                    font-size: 12px; // Taille du texte normal
                    padding-left: 5px;
                }

                .counter {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px; // Taille du compteur normal
                    font-weight: bold;
                    top: -5px;
                    right: -5px;
                }

                .profileImg {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
    }
}
